.rw-conversation-container .rw-header.rw-with-subtitle .rw-avatar {
    top: 0px !important; 
    width: 100px !important;
    height: 50px !important;
    left: -20px !important;
}

.rw-conversation-container .rw-avatar {
    width: 40px !important;
    height: 40px !important;
    border-radius: 100% !important;
    margin-right: 6px !important;
    position: relative !important;
    bottom: 5px !important;
}